/* TODO: design your profile with CSS */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Grandstander:ital,wght@1,300&family=Poppins:wght@300&display=swap');
@import url('https://use.fontawesome.com/releases/v5.6.3/css/all.css');

@media (max-width: 600px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 400px;
  }
}

body {
  color: gray;
  background-color: rgb(0, 0, 0);
  font-family: 'Poppins', sans-serif;
  text-align: center;
}

h1, h2 {
  font-family: 'Grandstander', cursive;
  margin: 20px;
}

a {
  text-decoration: none;
  color: #776d8a;
  font-weight: bold;
}

a:hover {
  color: #440047;
}

.card-gray {
  background: rgb(20, 20, 20);                 
  padding: 20px;                             
  border-radius: 4px;                      
  box-shadow: 0 10px 30px rgba(0,0,0,.1);
  width: 600px;
  margin: 0 auto;
  box-shadow: 0 5px 10px rgba(102, 51, 153, 1);
}

.line {          
  padding: 20px;                             
  border-radius: 4px;                      
  box-shadow: 0 10px 30px rgba(0,0,0,.1);
  width: 600px;
  margin: 0 auto;
}

.img{
  padding-bottom: 25px;
}

.love {
  padding: 20px;  
}

.list-inline {
  list-style: none;
  padding: 0;
}
.social-icon {
  font-size: 32px;
  color: #be8abf;
  margin: 8px 24px;
}
.list-inline li {
  display: inline-block;
  padding: 5px;
}